# .gitignore

# IDE files
.idea/
*.iml
.vscode/

# Dependency directories
frontend/node_modules/
backend/target/
build/
.gradle/

# Log files
*.log

# Secrets - VERY IMPORTANT
.env
application-local.properties
debug_page.html
